@model IEnumerable<DentAssist.Models.Turno>

@{
    ViewData["Title"] = "Turnos";
}

<h1 class ="mb-4">Lista de Turnos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar Turno</a>
</p>

<form method="get" class="mb-3">
    <div class="input-group">
        <input type="text" name="buscarPaciente" value="@ViewBag.FiltroPaciente" class="form-control" placeholder="Buscar por nombre del paciente..." />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
        </div>
    </div>
</form>


<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.FechaHora)</th>
            <th>@Html.DisplayNameFor(model => model.DuracionMinutos)</th>
            <th>@Html.DisplayNameFor(model => model.Estado)</th>
            <th>Paciente</th>
            <th>Odontólogo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FechaHora</td>
                <td>@item.DuracionMinutos</td>
                <td>@item.Estado</td>
                <td>@item.Paciente?.Nombre</td>
                <td>@item.Odontologo?.Nombre</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
